@page "/character/{characterId:int}"
@inject PlayerCharacterService CharService

<div class="container mt-4">
  <h2>@Char.Name — Level @Char.Level </h2>


  <!-- Stats -->
  <div class="d-flex">
    @if(Char?.Stats != null){
    @foreach (var stat in Char.Stats) {
        <div class="card flex-fill m-2">
          <div class="card-header text-uppercase">@stat.Name</div>
          <div class="card-body">
            <p class="card-text color-white h4">@stat.Value</p>
          </div>
      </div>
    } }
  </div>

  @if(Char?.Gauges != null){
  <!-- Globes -->
  <div class="d-flex">
    @foreach (var gauge in Char.Gauges) {
   <div class="card flex-fill m-2">
      <div class="card-header">@gauge.Name</div>

      <div class="card-body">
        <div class="orb m-bottom-10">
          <progress
            class="orb-@(gauge.Colour)"
            value="@gauge.Value"
            max="@gauge.Max"
          ></progress>
        </div>

        <div class="flex-row m-auto">
          <div class="m-auto">@gauge.Value</div>
          <div class="m-auto">|</div>

          <div class="m-auto">@gauge.Max</div>
        </div>
      </div>
    </div>




    
    }
  </div>

  }

  @if(Char?.Hunger != null) {
    <div class = "card">
      <div class="card-body fs-3">
      Hunger:
        @for (int i = 0; i < @Char.Hunger; i++) {
            <span>🍖</span>
        }
      </div>
    </div>
  }

   @if(Char?.Statuses != null){

  <!-- Statuses -->
  <div class="row mt-4">

    <div class="col">
      <div class="card">
        <ul class="list-group list-group-flush">
          @foreach (var status in Char.Statuses) {
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span>@status.DisplayName</span>
            <span>
              @if (!string.IsNullOrEmpty(status.Symbol)) { @status.Symbol }
              @status.Value
            </span>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>

  }
</div>

@code {
  PlayerCharacter Char;

  [Parameter]
  public int CharacterId { get; set; }

  protected override void OnInitialized() {
    Char = CharService.GetById(CharacterId);
  }
}
