@page "/characters/{characterId:int}"
@inject PlayerCharacterService CharService

<dialog id="rollDialog" class="rounded-4 shadow-sm border-0 disable-dbl-tap-zoom p-3">
  <div class="d-flex flex-column h-100">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-2">
      <span class="fs-3">🎲 Roll</span>
      <button class="btn btn-danger" onclick="rollDialog.close()">X</button>
    </div>

    <RollMenu Character="@Char"/>

  </div>
</dialog>

<div class="disable-dbl-tap-zoom container mt-4">
  <div class="w-100 p-2">
    <span class="fs-2">@Char.Name — Level @Char.Level </span>

    <button
      onClick="rollDialog.showModal()"
      class="btn btn-primary float-right fs-2"
    >
      🎲
    </button>
  </div>

  <br />

  <!-- Stats -->
  <div class="d-flex flex-wrap" style="text-size: 10px">
    @if(Char?.Stats != null){
    <StatBlock Stats="@Char.Stats" FlexFill="true" />
    }
  </div>

  @if(Char?.Gauges != null){
  <!-- Globes -->
  <div class="d-flex">
    @foreach (var gauge in Char.Gauges) {
    <Orb
      Name="@gauge.Name"
      Colour="@gauge.Colour"
      Value="@gauge.Value"
      Max="@gauge.Max"
    />
    }
  </div>

  }

  <div class="d-flex flex-wrap">

    <div class="flex-fill">
  
      @if(Char?.Hunger != null) {
        <div class="card flex-fill">
          <div class="card-header">Hunger:</div>

          <div class="card-body fs-7">
            <span class="d-none d-md-inline">
              <CharBar Repeat="@(Char.Hunger ?? 10)" Icon="🍖" />
            </span>
            <span>@Char.Hunger / 10</span>
          </div>
        </div>
      }

      <div class="card">
        <div class="card-header">
          Test
        </div>

        <div class="card-body">
          Testing
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Test
        </div>

        <div class="card-body">
          Testing
        </div>
      </div>
      
    </div>

    <div class="flex-fill">
      <div class="flex-fill">
        <DescriptableList Name="🎒 Inventory" Descriptables="@(Char.Inventory.Cast<IDescriptable>())"/>
      </div>

      <div class="flex-fill">
        <DescriptableList Name="📔 Spells" Descriptables="@(Char.Spells.Cast<IDescriptable>())"/>
      </div>
    </div>

  </div>
</div>
@code {
  PlayerCharacter Char;
  [Parameter] public int CharacterId { get; set; }

  protected override void OnInitialized() {
    Char = CharService.GetById(CharacterId);
  }
 }
