@page "/characters/{characterId:int}"
@inject PlayerCharacterService CharService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "HasDiscordId")]
@if (Char != null)
{
    <dialog id="rollDialog" class=" bg-light rounded-4 shadow-lg border-0 disable-dbl-tap-zoom p-0">
        <div class="d-flex flex-column h-100 ">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center bg-dark">
                <span class="fs-3 m-3">
                    <i class="bi bi-dice-5"></i>
                    Roll
                </span>
                <button class="btn btn-danger h-100" style="overflow: scroll" onclick="rollDialog.close()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>                
                </button>
            </div>
            <div class=p-3>
                <RollMenu Character="@Char" />
            </div>
        </div>
    </dialog>
    <div class="disable-dbl-tap-zoom container mt-4 vh-100" style="overflow: scroll">
        <div class="w-100 p-2 d-flex">
            <div class="d-flex flex-row w-100">
                <div class="flex-grow-1">
                    <span class="fs-2">
                        @Char.Name
                    </span>
                    <div>
                        Level @Char.Level
                    </div>
                </div>

                <a onClick="rollDialog.showModal()" class="float-right btn btn-primary p-2 rounded-3 d-flex justify-content-center">
                    <svg
                        width="50"
                        height="45"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        class="bi bi-dice-5-fill m-auto"
                        viewBox="0 0 16 16">
                        <path d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M12 13.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M8 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                    </svg>
                </a>
            </div>
        </div>
        
        <div class="d-flex flex-wrap gap-1" style="text-size: 10px">
            @if (Char?.Stats != null)
            {
                <StatBlock Stats="@Char.Stats" />
            }
        </div>
        <!-- Stats -->
        @if (Char?.Gauges != null)
        {
            <!-- Globes -->
            <div class="d-flex gap-2">
                @foreach (var gauge in Char.Gauges)
                {
                    @if (!(gauge?.Max == 0 && gauge?.Value == 0))
                    {

                            <Orb
                                Name="@gauge.Name"
                                Colour="@gauge.Colour"
                                Value="@gauge.Value"
                                Max="@gauge.Max" />

                    }
                            
                }
            </div>
        }
        <div class="">
            <div class="flex-grow-2 flex-row flex-wrap">
                @if (Char?.Hunger != null && Char?.Hunger != 0)
                {
                    <div class="card flex-fill">
                        <div class="card-header">Hunger:</div>
                        <div class="card-body fs-7">
                            <span>
                                @Char.Hunger / 10
                            </span>
                            <br />
                            <span class="d-none d-md-inline">
                                <CharBar Repeat="@(Char.Hunger ?? 10)" Icon="🍖" />
                            </span>
                        </div>
                    </div>
                }
                <!-- @if(Char?.Hunger != null) { -->
                <!-- <div class="card flex-fill">
                -->
                <!-- <div class="card-header">
                Exhaustion:
                <
                /div> -->
                <!-- <div class="card-body fs-7">
                -->
                <!-- <span>
                3 / 3
                <
                /span> -->
                <!-- <br/>
                -->
                <!-- <span class="d-none d-md-inline">
                -->
                <!-- <CharBar  Repeat="@(3)" Icon="😵‍💫" />
                -->
                <!-- </span>
                -->
                <!-- </div>
                -->
                <!-- </div>
                -->
                <!-- } -->
            </div>
        </div>


        <div class="d-flex flex-wrap">
            <div class="flex-row flex-grow-1">
                <div class="flex-fill">
                    <DescriptableList Name="Inventory" Descriptables="@(Char.Inventory.Cast<IDescriptable>())" />
                </div>
                <div class="flex-fill">
                    <DescriptableList Name="Spells" Descriptables="@(Char.Spells.Cast<IDescriptable>())" />
                </div>
            </div>
        </div>

        
        <!-- Quick and dirty margin at the bottom if scrolling -->
        <br>
        <br>
    </div>
}
else
{
    <h1>Either this character doesn't exist or you don't have access</h1>
}

@code
{
    PlayerCharacter? Char;

    [Parameter] public int CharacterId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var character = CharService.GetById(CharacterId);

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var discordId = user.FindFirst("discord_id")?.Value ?? "Not logged in";

        // Only present the user with data if they are the character's owner
        // (this is only safe because I'm using serverside blazor)
        if (character?.UserId == discordId)
        {
            Char = character;
        }
        else
        {
            Navigation.NavigateTo("/forbidden");
        }
    }
}
